* {
    margin: 0px;
    padding: 0px;
}
    
    body{
     font-family: "Josefin Sans", sans-serif;
 }

.cabecalho {
    background-color:#000000;
    color:#1b206d;
    display: flex;
    justify-content:left;
    align-items: end;
    padding: 24px 0;
}


    .cabecalho-imagem{
        width: 25%; 
        margin: left 0 5%;
        padding: left 0 5%;

        
    }

    .cabecalho-lista-item{
        display: inline-block;
        margin: 0 24px;
        font-size: 55px;
        
    }

    .escola-imagem{
        width: 20%;
        padding: 10px 5%;
    }
    
    .escola{
        background-image: linear-gradient(#000000,#445c9e );
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
    }

    .escola-div-conteudo{
        width: 45%;
    }

    .escola-titulo{
        margin: 10px;
        padding: 30px 0;
        
    }

    .imagem-aguas{
        width: 23%
    
    }

    .estudante{
        display: flex;
        }

 
    .estudante-titulo{
        color: #1b206d;
        margin: 0 0%;
        padding: 10px 40px;
        justify-content: left;

    }

    .estudante-titulo-dois{
        color: #1b206d;
        justify-content: center;
        margin: 0%;
        padding: 10px 24px;
        
    }

    .texto-um{
        margin: 0 10%;
        padding: 20px;
    }


    .estudante-divisor{
        width: 100%;
        background-image: linear-gradient(#445c9e,#000000);
        color: white;
        text-align: center;
        align-items: center;
    }


    .imagem-aguas-um{
        width: 24%;
    }

    .estudante-titulo-tres{
        color: #1b206d;
        justify-content: center;
        margin: 0%;
        padding: 10px 24px;
        
    }

    .vermelho{
        color: red;
    }

    .texto-dois{
        margin: 0 10%;
        padding: 20px;
    }
    
    .imagem-aguas-dois{
        width: 24%;
    }

    .estudante-titulo-quatro{
        color: #4750ca;
        justify-content: center;
        margin: 0%;
        padding: 10px 24px;
    }

    .texto-tres{
        margin: 0 10%;
        padding: 20px;
    }

    .imagem-aguas-tres{
        width: 19%;
        height: 0 3%;
    }

    .estudante-titulo-cinco{
        color: #3f4599;
        justify-content: center;
        margin: 0 0%;
        padding: 10px 24px;
    }

    .texto-quatro{
        margin: 0 10%;
        padding: 20px;
    }

    .rodape{
        background-color: #000000;
        text-align: center;
    }


    .rodape-imagem{
        width: 20%;
        margin: 10px  ;
        padding: 0px 10%;
    }

    

    